<div class="margin-top80">
	<div id="content">
		<div class="content">
			<div class="breadcrumbs">
				<%= link_to 'Home', root_path %>
				<%= image_tag '../../assets/marker_2.gif' %>
				<a href="http://autodealer.winterjuice.com/catalog/">Catalog</a>
				<%= image_tag '../../assets/marker_2.gif' %>
				<a href="http://autodealer.winterjuice.com/catalog/porsche">Porsche</a>
				<%= image_tag '../../assets/marker_2.gif' %>
				<a href="http://autodealer.winterjuice.com/catalog/porsche/porsche-911">911</a>
				<%= image_tag '../../assets/marker_2.gif' %>
				Porsche 911 CARRERA
			</div>
			<div class="main_wrapper">
				<div class="main_wrapper ">
				<div class="cars_id">
					<div class="id">Offer ID <span>C228</span></div>
					<div class="views">The offer had 788 Views</div>
				</div>
				<h1>
					<strong>Porsche</strong> 911 CARRERA		 
				</h1>
				<div class="car_image_wrapper">
					<div class="big_image">
						<a href="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/70/original/70.jpg" rel="car_group">
							<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/assets/images/zoom.png" alt="" class="zoom">
							<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/70/480x290/70.jpg" alt="">
						</a>
					</div>
					<div class="small_img">
						<a href="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/66/original/66.jpg" rel="car_group">
							<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/66/81x62/66.jpg" alt="">
						</a>
						<a href="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/67/original/67.jpg" rel="car_group">
							<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/67/81x62/67.jpg" alt="">
						</a>
						<a href="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/68/original/68.jpg" rel="car_group">
							<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/68/81x62/68.jpg" alt="">
						</a>
						<a href="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/69/original/69.jpg" rel="car_group">
							<img src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/car/69/81x62/69.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="car_characteristics">
					<a href="#" class="print" onclick="window.print();return false;"></a>
					<div class="price" data-currency="EURO" data-price="86790" style="margin-left:10px; margin-top:15px;">
						86,790 EURO 
					</div>
					<div class="clear"></div>
					<div class="features_table">
						<div class="line">
							<div class="left">Model, Body type:</div>
							<div class="right">Porsche 911 CARRERA, Coupe</div>
						</div>
						<div class="line">
							<div class="left">Fabrication:</div>
							<div class="right">2013</div>
						</div>
						<div class="line">
							<div class="left">Fuel:</div>
							<div class="right">Gas</div>
						</div>
					  <div class="line">
							<div class="left">Engine:</div>
							<div class="right">4200 cm³</div>
						</div>
						<div class="line">
							<div class="left">Transmision:</div>
							<div class="right">Automatic</div>
						</div>
						<div class="line">
							<div class="left">Color:</div>
							<div class="right">
								<span class="color" style="background-color:#fafafa"></span> White
							</div>
						</div>
						<div class="line">
							<div class="left">Doors:</div>
							<div class="right">5</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="info_box">
					<div class="car_info">
						<div class="info_left">
							<h2><strong>Vehicle</strong> information</h2>
							<p>abs, air conditioning, airbag, board computer, central locking, differential lock, eds, electric windows, esp, fog lights, radio / cd</p>
						</div>
						<div class="info_right">
							<h2><strong>More</strong> info</h2>
							<p class="first">EZ 08/2013
												7.800 km
												Diesel
												184 kW (250 PS)
												Automatik
												AUSSTATTUNG
												Regensensor, 
												Tagfahrlicht, 
												Xenonscheinwerfer, 
												Start/Stopp-Automatik, 
												Lichtsensor, 
												Tuner/Radio, 
												Navigationssystem, 
												Leichtmetallfelgen, 
												Freisprecheinrichtung, 
												Bordcomputer, 
												Bluetooth, 
												ABS, 
												Zentralverriegelung, 
												Metallic

												ANBIETER
												Tok GmbH
												Hans-Böckler-Straße 163
												50354 Hürth (bei Köln)
												+49 (0)2233 39860
												+49 (0)2233 398613
							</p>
						</div>
						<div class="clear"></div>
					</div>
					<div class="car_contacts">
						<h2><strong>Contact</strong> details</h2>
						<p></p>
						<div class="left">
							<div class="user-detail">
								<i class="icon-user"></i>
								<div class="details mail-link">
									<a href="mailto:frontend@live.com" rel="moc/evil//dnetnorf" class="email_link_noreplace markered">
										Contact seller via e-mail
									</a>
								</div>
							</div>
						</div>
						<div class="right"></div>
						<div class="clear"></div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="car_sidebar">
					<div id="loan_calculator-2" class="widget_loan_calculator">
						<form name="loan_calculator" class="loan calculator form">
							<div class="loan calculator-wrapper">
								<h3><strong>Loan</strong> Calculator </h3>
								<label><strong>Loan Amount:</strong></label>
								<input name="amount" class="text loan amount" value="" readonly="readonly">
								<div class="select_wrapper">
									<label><strong>Down Payment:</strong></label>
									<select name="downpay" class="custom-select loan down pay">
										<option value="0">30%</option>
										<option value="1">10%</option>
									</select>
								</div>
								<div class="select_wrapper">
									<label><strong>Annual Rate:</strong></label>
									<select name="rate" class="custom-select loan annual rate">
										<option value="5">5%</option>
									</select>
								</div>
								<div class="select_wrapper">
									<label><strong>Loan Period:</strong></label>
									<select name="period" class="custom-select loan period">
										<option value="1">1 year</option>
										<option value="2">2 year</option>
										<option value="3">3 year</option>
									</select>
								</div>
								<input type="submit" value="Calculate" class="btn_calc"></div>
					      <noscript>
					          Loan Calculator requires enable Javascript support. Please enable Javascript in your browser settings to continue, and reload page.
					      </noscript>
					      <p>Website powered by WinterJuice theme</p>
					    </div>
					  </form>
					</div>	
					<div class="clear"></div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
