<%= render partial: 'shared/front/carousel_slider' %>
<div id="content">
	<div class="content">
		<%= render partial: 'shared/front/search_bar' %>
		<%= render partial: 'shared/front/carousel_featured' %>
		
		<div class="wrapper_2">
			<div class="left">
				<%= render partial: 'shared/front/recent_home' %>
				<%= render partial: 'shared/front/tab_home' %>
			</div>
			<div class="right">
				<%= render partial: 'shared/front/left_news' %>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>