<%= render layout: 'backend/shared/prepare_table', 
           locals: {
                     table_name:  'Dealers', 
                     button_name: 'Dealers',
                     add_method: true
                   } do %>
	<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
		<thead>
			<tr>
				<th class="text-center">ID</th>
				<th>Dealer Name</th>
				<th width="25%">Category</th>
				<th>Phone</th>
				<th>Status</th>
				<th>Created At</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
		<% @dealers.each_with_index do |dealer,index| %>
			<tr>
				<td class="text-center"><%= index + 1 %></td>
				<td><a href="javascript:void(0)"><%= dealer.dealer_info.title %></a></td>
				<td><span class="label label-primary"><%= dealer.dealer_info.category_type if dealer.dealer_info.present? %></span></td>
				<td><%= dealer.dealer_info.phone %></td>
				<td>
					<%= link_to '<span class="label label-primary">Remove To Dealer Request</span>'.html_safe,  unapprove_dealer_backend_dealers_path(dealer), confirm: "Are you sure ?" %>
				</td>
				<th><%= dealer.created_at %></th>
				<td class="text-center">
					<%= render partial: 'backend/shared/action_buttons', locals: {resource: dealer, confirmation: "#{dealer.username} will be deleted, are you sure ?"} %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
<% end %>