<%= render partial: 'shared/front/paginate_result/paginate_result_cars' %>
<%= render partial: 'shared/front/side_bar_cars' %>
<div class="main_catalog" style="padding-top:0px;">
	<ul class="catalog_table">
		<% @cars.each_with_index do |car, index| %>
			<li class="is_dealer">
				<%= link_to detail_car_path(car), class: 'thumb' do %>
					<div class= "car_catalog"><%= image_tag car.images.first.image if car.images.present? %></div>
				<% end %>
				<div class="catalog_desc">
					<div class="location">Location: <b><%= car.city %></b></div>
					<div class="title_box">
						<h4>
							<%= link_to detail_car_path(car) do %>
								<%= car.name %>
							<% end %>
						</h4>
						<div class="price"><%= number_to_currency(car.price, unit: 'Rp.') %></div>
					</div>
					<div class="clear"></div>
					<div class="grey_area">
						<span>Fabrication: <b><%= car.year %></b></span>
						<span>Brand: <b><%= car.brand %></b></span>
						<span>Model: <b><%= car.model %></b></span>
						<span>Condition: <b><%= car.condition %></b></span>
					</div>
					<div style="float:right"></div>
					<%= link_to detail_car_path(car),class: "more markered" do %>
						View details
					<% end %>
				</div>
			</li>
		<% end %>
		<%= raw '<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a>No Data Found</div>' unless @cars.present? %>
	</ul>
	<div class="bottom_cat=alog_box padding-top0">
		<div class="pagination">
			<%= paginate @cars.present? || @products.blank? ? @cars : @products %>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>