<div class="col_1">
  <div class="input_wrapper">
    <label><span>* </span><strong>Active:</strong></label>
    <%= f.check_box :active %>
  </div>
</div>
<div class="col_2">
  <div class="input_wrapper">
    <label><span>* </span><strong>Price:</strong></label>
    <%= f.text_field :price, data: {autonumeric: true}, class: 'text full_100', placeholder: 'Price', required: true %>
  </div>
  <div class="input_wrapper">
    <label><span>* </span><strong>Loan Term:</strong></label>
    <%= f.number_field :loan_term, class: 'text full_100', placeholder: 'Loan Term', required: true %>
  </div>
</div>
<div class="col_3">
  <div class="input_wrapper cars">
    <label><span>* </span><strong>Interest Rate:</strong></label>
    <%= f.number_field :interest_rate, class: 'text full_100', placeholder: 'Interest Rate', required: true %>
  </div>
  <div class="input_wrapper cars">
    <label><span>* </span><strong>Down Payment:</strong></label>
    <%= f.text_field :down_payment, data: {autonumeric: true}, class: 'text full_100', placeholder: 'Down Payment', required: true %>
  </div>
</div>
