<div id="footer">
	<div class="bottom_footer">
		<div class="f_widget ">
			<h3><strong>About</strong> us</h3>
			<ul>
				<% @about.each do |about| %>
					<li>
						<%= link_to "#{about.title}", page_path(about.id) %>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="f_widget divide">
			<h3><strong>Need</strong> help?</h3>
			<ul>
				<% @need_help.each do |need_help| %>
					<li>
						<%= link_to "#{need_help.title}", page_path(need_help) %>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="fwidget_separator"></div>
		<div class="f_widget">
			<h3><strong>User</strong> area</h3>
			<ul>
				<li>
					<%= link_to "Register Member", new_user_registration_path %>
				</li>
				<li>
					<%= link_to "Login Area", new_user_session_path %>
				</li>
				<li>
					<%= link_to "Dealers", dealers_path %>
				</li>
				<li>
					<%= link_to "Cars", cars_path(:Used) %>
				</li>
				<li>
					<%= link_to "Spare Parts", spareparts_path %>
				</li>
			</ul>
		</div>
		<div class="f_widget divide last">
			<h3><strong>Find</strong> us here</h3>
			<ul class="horizontal">
				<li><a href="#"><img src="../assets/fb_icon.png" alt="" /></a></li>
				<li><a href="#"><img src="../assets/twitter_icon.png" alt="" /></a></li>
				<li><a href="#"><img src="../assets/in_icon.png" alt="" /></a></li>
			</ul>
		</div>
	</div>
	<div class="copyright_wrapper">
		<div class="copyright"><span><%= @web.footer_tags %></span></div>
	</div>
</div>
