<div class="news_wrapper" style="padding-top:25px;">
	<% if @advertisement_home_sidebar_right_with_des.present? %>
		<div class="news">
			<h2><strong>Latest</strong> News</h2>
			<div>
				<a href="<%= @advertisement_news_side_right_with_des.link_url %>">
					<h5 class="uppercase"><%= @advertisement_home_sidebar_right_with_des.title %></h5>
				</a>
				<a href="<%= @advertisement_home_sidebar_right_with_des.link_url %>" class="thumb">
					<%= x_image_tag "#{@advertisement_home_sidebar_right_with_des.picture}", style: "width: 100%" %>
				</a>
				<div class="post">
					<p><%= truncate strip_tags(@advertisement_home_sidebar_right_with_des.content.to_s), length: 60 %></p>
				</div>
			</div>
			<br>
		</div>
	<% end %>
	<% if @advertisement_home_sidebar_right.present? %>
		<% @advertisement_home_sidebar_right.each do |advertisement_home_sidebar_right| %>
			<a href="<%= advertisement_home_sidebar_right.link_url %>" >
				<%= image_tag "#{advertisement_home_sidebar_right.picture}", class: "full-100" %>
			</a>
		<% end %>
	<% end %>
</div>