<div class="catalog_sidebar">
	<div class="search_auto no-shadow">
		<% search = params[:search] %>
		<%= form_for :search, url: search_path, method: 'get' do |f| %>
			<%= f.hidden_field :category_id, value: 2 %>
			<div class="sell_box sell_box_1">
				<h2><strong>Search</strong> Sparepart</h2>
				<div class="select_wrapper">
					<span></span><strong> <%= f.radio_button :condition, "All", {} %> All</strong>
					<span></span><strong> <%= f.radio_button :condition, "Used", {} %> Used</strong>
					<span></span><strong> <%= f.radio_button :condition, "New", {} %> New</strong>
					<span></span><strong> <%= f.radio_button :classic, "Classic", {} %> Classic</strong>
				</div>
				<div class="br"></div>
				<div class="select_wrapper">
					<label><span>* </span><strong>Brand:</strong></label>
					<%= f.select :brand, options_for_select(@brands,search.present? ? search[:brand] : ''), {include_blank: 'Choose One'}, class: 'select_5', id: 'brand_product', data: {url: brand_model_path} %>
				</div>
				<div class="select_wrapper">
					<label><span>* </span><strong>Model: </strong></label>
			    <%= f.select :model, options_for_select([]), {include_blank: 'Choose One'}, class: 'select_5', id: 'model_product' %>
				</div>
				<div class="select_wrapper">
					<label><span>* </span><strong>Year:</strong></label>
			    <%= f.select :year, options_for_select(@years,search.present? ? search[:year] : ''), {include_blank: 'Choose One'}, class: 'select_5' %>
				</div>
				<div class="select_wrapper">
					<label><span>* </span><strong>Body Type:</strong></label>
			    <%= f.select :type_product, options_for_select(@types,search.present? ? search[:type_product] : ''), {include_blank: 'Choose One'}, class: 'select_5' %>
				</div>
				<div class="input_wrapper">
					<label><span>* </span><strong>Province </strong></label>
					<%= f.text_field :province, class: 'txb', id: 'province_attributes', value: search.present? ? search[:province] : '' %>
				</div>
				<div class="input_wrapper">
					<label><span>* </span><strong>City </strong></label>
					<%= f.text_field :city, class: 'txb', id: 'city_attributes', value: search.present? ? search[:city] : '' %>
				</div>
				<div class="input_wrapper">
					<label><span>* </span><strong>Price </strong></label>
			    <%= f.select :price, options_for_select(@prices,search.present? ? search[:price] : ''), {}, class: 'select_5' %>
				</div>
				<div class="input_wrapper" style="width:100%">
					<label><span>* </span><strong>Keyword:</strong></label>
					<%= f.text_field :name, class: 'txb', value: search.present? ? search[:name] : '' %>
				</div>
				<%= f.submit :search, class: 'btn_search' %>
				<div class="clear"></div>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
</div>