<div class="recent_blog">
	<div class="tabs_wrapper home_tabs section" style="padding-bottom:10px">
		<ul class="tabs">
			<li class="current active">Latest News</li>
		</ul>
	</div>
	<%= link_to "Show All News...",news_path, class: "all", style: "float: right" %></a>
	<div class="clear"></div>
	<% @news_home.each_with_index do |news, index| %>
		<div class="post_block dealers <%= 'last' if index == @news_home.size-1 %>">
			<%= link_to detail_news_path(news),class: "thumb deal" do %>
				<%= image_tag news.pic.url(:medium) %>
			<% end %>
			<h5>
				<%= link_to detail_news_path(news) do %>
					<%= truncate strip_tags(news.title), length: 40 %>
				<% end %>
			</h5>
			<div class="date"><span><%= news.created_at %></span></div>
			<div class="post"><p><%= truncate strip_tags(news.content.to_s), length: 30 %></p></div>
		</div>
	<% end %>
</div>
