<!DOCTYPE html>
<html>
<head>
  <title>Ototown</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page">
	<%= render partial: 'shared/front/header' %>
	<div id="content">
		<div class="content">
			<div class="breadcrumbs margin-top80">
				<%= link_to 'Home', root_path %>
				<%= image_tag '../../assets/marker_2.gif' %>
				<%= controller_name.titleize == 'Publics' ? action_name.titleize : controller_name.titleize %>
			</div>
			<div class="main_wrapper ">
				<div class="layout_left_content">
					<%= bootstrap_flash %>
					<%= yield %>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<%= render partial: 'shared/front/footer' %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<%= image_tag "#{@advertisement_catalog_side_left.picture}", class: "side-reklame-home-left2" if @advertisement_catalog_side_left.present? %>
	<%= image_tag "#{@advertisement_catalog_side_right.picture}", class: "side-reklame-home-right2" if @advertisement_catalog_side_right.present? %>
</body>
</html>
