<!DOCTYPE html>
<html>
<head>
  <title>Ototown</title>
  <meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1" style="font-size: 14px;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= render partial: 'shared/front/icon' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page">
	<%= render partial: 'shared/front/header' %>
	<div id="content">
		<div class="content">
			<div class="breadcrumbs margin-top80">
				<%= link_to 'Home', root_path %>
				<%= image_tag '../../assets/marker_2.gif' %>
				<%= link_to 'Dealers', dealers_path %>
				<%= image_tag '../../assets/marker_2.gif' %>
				<%= @dealer.dealer_info.title %>
			</div>
			<div class="main_wrapper ">
				<div class="layout_left_content">
					<h1><strong><%= @dealer.dealer_info.title %></strong></h1>
					<%= render partial: 'shared/front/side_bar_dealer' %>
					<%= bootstrap_flash %>
					<%= yield %>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<%= render partial: 'shared/front/footer' %>
	<%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=en"></script>
	<script type="text/javascript">
		$(function(){
		$("#map-dealer").gmap3({
		  map:{
		    options:{
		      center:[-6.189707,106.825218,0.196942,0.33817],
		      zoom: 11
		    }
		  },
		  marker:{
		    values:[
		      {latLng:['<%= @dealer.dealer_info.longitude %>', '<%= @dealer.dealer_info.latitude %>'], 
		      	data:'<div class="infowindow"><%= @dealer.dealer_info.title if  @dealer.dealer_info.title.present?  %><br><%= @dealer.dealer_info.address if @dealer.dealer_info.address.present? %></div>', 
		      	options:{icon: "http://maps.gstatic.com/mapfiles/icon_green.png"}},
		    ],
		    options:{
		      draggable: false
		    },
		    events:{
		      mouseover: function(marker, event, context){
		        var map = $(this).gmap3("get"),
		          infowindow = $(this).gmap3({get:{name:"infowindow"}});
		        if (infowindow){
		          infowindow.open(map, marker);
		          infowindow.setContent(context.data);
		        } else {
		          $(this).gmap3({
		            infowindow:{
		              anchor:marker, 
		              options:{content: context.data}
		            }
		          });
		        }
		      },
		      mouseout: function(){
		        var infowindow = $(this).gmap3({get:{name:"infowindow"}});
		        if (infowindow){
		          infowindow.close();
		        }
		      }
		    }
		  }
		});
	});
	</script>
</body>
</html>
