<!DOCTYPE html>
<html>
<head>
	<title>Ototown</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body class="page">
	<%= render partial: 'shared/front/header' %>
	<div id="content">
		<div class="">
			<div class="wrapper_login_page">
				<div class="background">
					<%= image_tag "bck.jpg" %>
					<div id="confirm-email-page" class="popup">
						<div class="popup_content">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render partial: 'shared/front/footer' %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
