<!DOCTYPE html>
<html>
<head>
  <title>Ototown</title>
  <meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1" style="font-size: 14px;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
  <%= render partial: 'shared/front/icon' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page">
	<%= render partial: 'shared/front/header' %>
	<div id="content">
		<div class="content">
			<div class="breadcrumbs">
				<%= link_to 'Home', root_path %>
				<img src="images/marker_2.gif" alt="">
				<span>Blog</span>
			</div>
			<div class="main_wrapper margin-top60">
				<%= yield %>
				<%= render partial: 'shared/front/side_bar_news' %>
				<div class="clear mb1"></div>
			</div>
		</div>
	</div>
	<%= render partial: 'shared/front/footer' %>
	<%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= image_tag "#{@advertisement_catalog_side_left.picture}", class: "side-reklame-home-left2" if @advertisement_catalog_side_left.present? %>
	<%= image_tag "#{@advertisement_catalog_side_right.picture}", class: "side-reklame-home-right2" if @advertisement_catalog_side_right.present? %>
</body>
</html>
