<!DOCTYPE html>
<html>
<head>
	<title>Ototown</title>
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1" style="font-size: 14px;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<%= render partial: 'shared/front/icon' %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body class="page">
	<%= render partial: 'shared/front/header' %>
	<div id="content">
		<div class="">
			<div class="wrapper_login_page">
				<div class="background">
					<%= image_tag "bck.jpg" %>
					<div id="confirm-email-page" class="popup">
						<div class="popup_content">
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render partial: 'shared/front/footer' %>
<%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
</body>
</html>
